<header>
  <img src="/assets/diffLogo.png">
  <div class="gradient-bg">Diff Checker</div>
</header>

<main>
  <div class="description">
    <img src="/assets/diffLogo.png">
      <div class="title gradient-bg">Compare text</div>
      <div class="sub-title">Diffchecker will compare text to find the difference between two text files.
        Just paste your files and click Find Difference</div>
  </div>

  <div class="text-diff-display" *ngIf="showDiff">
    <app-diff-display
      [text1Arr]="input1Arr" 
      [text2Arr]="input2Arr" 
      [linesRemovedFromText1]="linesRemovedFromText1"
      [linesAddedToText2]="linesAddedToText2"
      (compareNew)="clearState()"
    ></app-diff-display>
  </div>

  <ng-container *ngIf="!showDiff">
    <div class="text-input-container">
      <app-text-input label="Original Text" [text]="inputText1" (onChange)="onInputText1Change($event)"></app-text-input>
      <app-text-input label="Modified Text" [text]="inputText2" (onChange)="onInputText2Change($event)"></app-text-input>
    </div>
    <button (click)="findDifference()" class="gradient-bg">Find Difference</button>
  </ng-container>

</main>

<footer>
  <app-icon-links
    *ngFor="let link of links"
    [src]="link.src"
    [url]="link.url"
  ></app-icon-links>
</footer>